NODE_ENV=development
PORT=3099
MONGO_URI=mongodb://localhost:27017/seu-projeto
API_URL=http://localhost:3099
APLICATIVO_PORT=3002
PAINEL_PORT=3001
JWT_ADMIN_SECRET=troque-este-segredo
ROUTES_API_BASE=https://sua-api-de-rotas.com
